body{

    background-color:#D4AC0D;

  }

  .formulario{
  background-color:rgb(245, 222, 179);
  padding: 50px;
  border: 3px solid black;
  margin-left: 400px;
  display: inline-block;
  border-radius: 30px 30px 30px 30px;

  }

  .titulo_formulario
  {
    margin-left: 150px;
    display: inline-block;
  
    }


    .titulo_login
    { margin-left: 250px;
      display: inline-block;
    }

    p
    {

        font-weight: bold;
      
        }

    .logo{
        margin-top: 30px;
        margin-left: 30px;
       display: inline-block;
       width: 250px;
       height: 100px;  
     
      }

      .cancelar{
        margin-top: 30px;
        margin-left: 200px;
      }



      /**menu usuario comerciantes**/

      .saldo{
        font-size: 20px;
        margin-top: 60px;
        width: 200px;
        padding-top: 5px;
        height: 40px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        text-align: center;
      }

     
      .retirar{
        font-size: 20px;
        margin-top: 20px;
        width: 200px;
        padding-top: 5px;
        height: 40px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        text-align: center;
      }

      .pago{
        font-size: 20px;
        margin-top: 20px;
        width: 200px;
        padding-top: 5px;
        height: 40px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        text-align: center;
      }

      .keyapi{
        font-size: 20px;
        margin-top: 20px;
        width: 200px;
        padding-top: 5px;
        height: 40px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        text-align: center;
      }

      .cuenta{
        font-size: 20px;
        margin-top: 20px;
        width: 200px;
        padding-top: 5px;
        height: 40px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        text-align: center;
      }
 
      #cerrar{
        font-size: 20px;
        
        width: 200px;
         
        height: 40px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        text-align: center;
      }



      /*------ver saldo--------*/   
      
      .atras{
        font-size: 20px;
        margin-top: 200px;
        width: 200px;
        margin-left: 20px;
        height: 40px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        text-align: center;
      }

      .ver_saldo{
        font-size: 50px;
        margin-top: 100px;
        margin-left: 550px;
        width: 400px;
        padding: 10px;
         
        height: 120px;
        background-color: blue;
        color: white;
        border-radius: 5px;
        text-align: center;
      }


        /*ver cuentas*/


         



        /*ver historial de pago*/

       
      
    


        .mostrar_tras{
          font-size: 30px;
          margin-top: 40px;
          margin-left: 550px;
          width: 400px;
          padding: 10px;
           
          height: 70px;
          background-color: green;
          color: white;
          border-radius: 5px;
          text-align: center;
        }
  
        table{
          font-size: 20px;
          margin-left: 300px;
          margin-top: 20px;
          margin-right: 20px;
          border: 3px solid black;

        }
       tr td{
          width: 5%;
          border: 3px solid black;
          background-color: white;
        }   
        
        
         .generar2{
          font-size: 20px;
          margin-left: 20px;
          width: 200px;
          padding: 10px;
           
          height: 70px;
          background-color: green;
          color: white;
          border-radius: 5px;
          text-align: center;
          
           
        }

        a{
          margin-left: 20px;
          background-color: green;
          color: white;
          border-radius: 5px;
          width: 100px;
          height: 100px;
          display: inline;
        }

         